<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>RaflaReviewer API</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>API v1</h1>
    <ul>
        <li><a href="/api/v1/restaurants">Ravintolat</a></li>
        <li><a href="/users">Käyttäjät</a></li>
        <li><a href="/api/v1/comments">Kommentit</a></li>
    </ul>
</body>
</html>