<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>RaflaReviewer API</title>
    <link href="style.css" rel="stylesheet" type="text/css">
    <style>
        body {
            background-color: #1b1b1b;
            color: #e5e5e5;
            font-family: 'Gill Sans', sans-serif;
        }
    
        a, a:visited {
            color: #e5e5e5;
        }
    
        a:hover {
            color: #e5e5e5;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h1>RaflaReviewer API</h1>
    <p>Tervetuloa k채ytt채m채채n RaflaReviewer-rajapintaa.</p>
    <p>Valitse versionumero.</p>
    <ul>
        <li><a href="/api/v1">v1</a></li>
    </ul>
</body>
</html>