/* Värien määrittely */

:root {
  --clr-light: #fff;
  --clr-dark: #181818;
  --clr-primary: hsl(115, 18%, 44%);
  --clr-primary-light: hsl(115, 18%, 65%);
  
  --clr-h1: var(--clr-dark);
  --clr-text: var(--clr-dark);
  --clr-headerlink: var(--clr-light);
  --clr-header-bg: var(--clr-dark);
  --clr-input-border: rgb(100, 100, 100); /* Buttonien, input-kenttien yms. reunat */
  --clr-button-bg: var(--clr-primary);
  --clr-button-effect: var(--clr-primary-light);
  --clr-button-text: var(--clr-light);
  --clr-thumb-icon: var(--clr-input-border);
  --clr-title: var(var(--clr-light));

  /* Punainen ja vihreä väri virheilmoituksiin yms. yksityiskohtiin */
  --clr-green: rgb(24, 137, 16);
  --clr-red: rgb(195, 0, 0);

  --border-radius: 1.25rem; /* Lomakkeiden, boksien ym. reunat */
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit; /* resetoi h-otsikkojen fontin */
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--clr-text);
  line-height: 1.6;
}

h2, h3 {
  margin-bottom: 1.5rem;
}

p:not(:last-child) {
  margin-bottom: 1rem;
}

.main-layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh; /* fallback */
  min-height: 100dvh;
}

/* Nav */
.main-nav {
  background-color: var(--clr-header-bg);
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--clr-headerlink);
}

.main-nav ul {
  list-style-type: none;
  max-width: fit-content;
  display: flex;
  padding-bottom: 0;
  gap: .5rem;
}

.main-nav li {
  display: inline-block;
}

.navlink {
  color: var(--clr-headerlink);
  text-decoration: none;
}

/* RaflaReviewer-otsikko */
.title {
  color: var(--clr-title);
  font-size: 2.5rem;
  text-decoration: none;
}

.main-footer {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  padding: 4em;
  display: grid;
  place-items: center;
}

img, svg {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
}

/* Kaikki buttonit */
button {
  line-height: 0; /* keskittää tekstin pystysuunnassa */
  border: 0;
  cursor: pointer;
}

/* Tekstibuttonit ja "buttonin" näköiset NavLinkit */
.button {
  display: block;
  line-height: 0;
  font-weight: bold;
  padding: 2em 2.5em;
  border-radius: 100vmax;
  min-height: 3rem;
  text-align: center;
  text-decoration: none;
  color: var(--clr-button-text);
  background: linear-gradient(145deg, var(--clr-button-effect), var(--clr-button-bg));
  box-shadow: 0 1.25em 1em -1em var(--clr-button-bg);
}

.button:hover {
  background: var(--clr-button-effect);
  box-shadow: 0 1.25em 1em -1em var(--clr-button-effect);
}

.container {
  flex-grow: 1;
  padding: 2rem;
  position: relative;
  width: min(100%, 70em);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Grid, jossa ravintolaboksit */
.restaurantList {
  display: grid;
  gap: 2rem;
  list-style-type: none;
}

/* Ravintolaboksi */
.restaurantArticle {
  padding: 1.5rem;
  border-radius: var(--border-radius);
  max-width: 30em;
  margin: 0 auto;
  box-shadow: 0 .5rem 1rem .1rem rgba(0 0 0 / .1);
  min-height: 25rem;
  display: grid;
  grid-template-rows: auto auto 1fr auto auto;
  gap: 1rem;
}

.restaurantArticle__address {
  display: flex;
  gap: .25em;
}

.restaurantArticle__address > * {
  display: inline-block;
}

.pin-icon {
  min-width: 1.25em;
  display: inline-block;
  padding-top: .2em;
  color: var(--clr-input-border);
}

.pin-icon svg {
  max-width: 100%;
}

.articleButton {
  max-width: 70%;
  flex-grow: 0;
  align-self: flex-end;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem .5rem;
}

/* Pienessä tilassa numero siirtyy tarvittaessa tekstin alle */
.articleButton span {
  display: inline-block;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.center {
  margin: 0 auto;
  text-align: center;
}

/* Uuden arvostelun lisäyslomake */
.addNewForm {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-light);
  width: min(90vw, 30rem);
  min-height: 40rem;
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: var(--border-radius);
  padding: 2rem;
  box-shadow: 0 1rem 3rem rgb(0 0 0 / .25), 0 0 0 100vmax rgb(0 0 0 / .3);
}

.addNewForm form {
  display: flex;
  gap: .75rem;
  flex-direction: column;
  flex-grow: 1;
}

.addNewForm form div {
  display: flex;
  align-items: baseline;
}

.addNewForm form div label {
  width: 6rem;
  flex-grow: 0;
  font-weight: bold;
}

.formHeader {
  display: flex;
  justify-content: space-between;
  position: relative;
}

/* x-button */
.closeButton {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
  cursor: pointer;
  background-color: transparent;
  flex-grow: 0;
}

/* x-icon */
.closeIcon {
  color: var(--clr-input-border)
}

.closeButton:hover {
  --clr-input-border: var(--clr-dark);
}

/* Lomakkeen input-kentät */
.formInput {
  flex-grow: 1;
  border-radius: .25rem;
  border: 1px solid var(--clr-input-border);
  padding: .25rem .5rem;
}

textarea.formInput {
  resize: none;
}

/* Hakukenttä */
.searchBar {
  width: 25em;
  display: flex;
  flex-direction: row;
  gap: .5rem;
}

.searchBar input {
  border: 1px solid var(--clr-input-border);
  flex-grow: 1;
  border-radius: 100vmax;
  padding: .5rem 1rem .5rem 3rem;
  font-size: 1.2rem;
  background-image: url('./images/magnifying-glass.svg');
  background-repeat: no-repeat;
  background-position: center left .5rem;
}

/* Hakukentän placeholder-teksti */
.searchBar input:placeholder-shown {
  font-style: italic;
}

/* Thumbs up-nappien container*/
.thumbsUpButtons {
  display: flex;
  gap: .5rem;
}

/* Buttonit */
.thumbsUp, .thumbsDown {
  display: flex;
  gap: .25rem;
  height: 3rem;
  width: 5rem;
  cursor: pointer;
  background-color: transparent;
  fill: none;
  border: 1px solid var(--clr-input-border);
  border-radius: .75rem;
  padding: .5rem;
  align-items: center;
  justify-content: center;
}

.thumbsUp > *, .thumbsDown > * {
  display: inline-block;
}

/* Peukkuiconit */
.icon-container {
  color: var(--clr-thumb-icon);
}

.thumbsDown .icon-container {
  rotate: 180deg;
  padding-bottom: .2rem;
}

.thumbsUp p, .thumbsDown p {
  min-width: 3ch;
  text-align: center;
  font-size: .9rem;
}

.thumbsUp p {
  color: var(--clr-green);
}

.thumbsDown p {
  color: var(--clr-red);
}

/* Klikattu */
.thumbsUp.clicked > .icon-container > * {
  --clr-thumb-icon: var(--clr-green);
  fill: var(--clr-thumb-icon);
  color: var(--clr-thumb-icon);
}

.thumbsDown.clicked > .icon-container > * {
  --clr-thumb-icon: var(--clr-red);
  fill: var(--clr-thumb-icon);
  color: var(--clr-thumb-icon);
}

/* Piilottaa elementin näkyvistä */
.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media only screen and (min-width: 62em) {
  .restaurantList {
    grid-template-columns: 1fr 1fr;
  }

  .restaurantArticle {
    max-width: none;
  }

  .searchBar {
    width: 30em;
  }
}

@media only screen and (min-width: 72em) {
  .container {
    padding: 2rem 0;
  }
}

@media only screen and (min-width: 80em) {
  .restaurantList {
    grid-template-columns: repeat(3, 1fr);
  }
}